[Desktop Entry]
Version=1.0
Type=Application
Name=WallPicker
Comment=Browse and set wallpapers from Wallhaven and local collection
Exec=/home/gotar/Programowanie/wallpicker/launcher.sh
Icon=/home/gotar/Programowanie/wallpicker/data/wallpaper-icon.svg
Terminal=false
StartupNotify=true
Categories=Utility;
Keywords=wallpaper;background;desktop;wallhaven;
X-GNOME-UsesNotifications=true
